.header {
  padding: 32px;
  background: linear-gradient(135deg, #07c160 0%, #06ad56 100%);
  border-radius: 16px;
  margin: 20px;
}

.title {
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}

.subtitle {
  display: block;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
}
